<div id="header">
</div>
<div id="content">
	{{newsletter_content}}
  <p class="small">
    @{{writeDate=Y}} {{writeSettingValue=name;section=domain_holder}} — {{identifierContext=start;name=unsubscribe_link}}<a href="{{unsubscribe_link}}" title="{{writeString=wns.newsletter.unsubscribe_title}}">{{writeString=wns.newsletter.unsubscribe}}</a> — {{identifierContext=end;name=unsubscribe_link}}{{newsletter_date}}
  <p>
</div>