<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{language}}" lang="{{language}}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="{{header_title}}" />
<meta name="description" content="{{header_description}}" />
<meta name="keywords" content="{{header_keywords}}" />
<base href="{{writeLink=base_href}}" />
<title>{{header_title}}</title>
<style type="text/css" title="text/css" media="all">
/* <![CDATA[ */
  {{newsletter_template_css}}
/* ]]> */
</style>
</head>
<body>
  {{newsletter_content}}
</body>
</html>
