jQuery(document).ready(function() {
	jQuery('table.newsletter_list').each(function() {
		jQuery(this).prepareWidget(function(widget) {
			Widget.callStatic('detail', 'connect_detail_with_list', 'newsletter', widget, 'setNewsletterId');
			widget.handle('list.cell-click', function(event, rowIndex, col, row, cell) {
				if(col.identifier === 'delete') {
					var subject = widget.cell_for_identifier('subject', row).text();
					var delete_message = AdminInterface.strings.get_string('wns.newsletter.delete_warning', {subject: subject});
					Widget.confirm("{{writeString=wns.delete_warning_title}}", delete_message, function(confirmed) {
						if(confirmed) {
							this.delete_row(row);
						}
					}.bind(this));
					event.stopPropagation();
				} else if(col.identifier === 'send') {
					Widget.create('newsletter_send', function(send_widget) {
						var rowData = widget.collect_row_data(row);
						send_widget.setNewsletterId(rowData.id);
						if(send_widget.getNewsletterIsApproved()) {
							send_widget.show_send_dialog();
						} else {
							send_widget.show_test_dialog();
						}
					});
				}
			});
			AdminInterface.strings.handle_strings_for_list_result('wns.newsletters.no_result', ['subscriber_group_id', 'language_name'], widget);
		});
	});
});
