Widget.types.subscriber_group_detail = {
	initialize: function() {
		this.content = jQuery.parseHTML("{{includeTemplate=edit}}");
		this.content.find('div.hide_if_not_saved').hide();

		Widget.create('detail', function(widget) {
			this.detail_widget = widget.set_instance(this);
			jQuery.extend(widget.settings, {
				title: "{{writeString=wns.new_entry}}",
				width: 550
			});
			if(this.auto_open) {
				this.open();
			}
		}.bind(this));
	},
	
	open: function() {
		if(!this.detail_widget) {
			this.auto_open = true;
			return false;
		}
		this.detail_widget.open();
		this.detail_widget.content.find('input[name=name]').focus();
	},
	
	fill_data: function() {
		this.getSubscriberGroupData(function(subscriber_group_data) {
			this.content.find("input[name='name']").val(subscriber_group_data.Name);
			this.content.find(".updated_info").text(subscriber_group_data.UpdatedInfo);
			this.content.find(".created_info").text(subscriber_group_data.CreatedInfo);
			this.content.find('div.hide_if_not_saved').show();
			this.detail_widget.set_title(this.detail_widget.settings.title = "{{writeString=wns.subscriber_group}} "+subscriber_group_data.Name);
		});
	},
		
	close: function() {
		this.detail_widget.close();
		this.close_callback();
	},
	
	save_callback: jQuery.noop,
	close_callback: jQuery.noop
};