Widget.types.subscriber_group_detail = {
	initialize: function() {
		var _this = this;
		this._element = Widget.parseHTML("{{includeTemplate=edit}}");
		this._element.find('div.hide_if_not_saved').hide();

		Widget.callStatic('detail', 'create_for_instance', this);
		this.display_name = this._element.find("input[name='display_name']");
		var display_name_info = this._element.find('.display_name_info');
		this.display_name.change(function() {
			if(_this.display_name.val() === '') {
				display_name_info.show();
			} else {
				display_name_info.hide();
			}
		});
	},

	fill_data: function() {
		this.loadData(function(subscriber_group_data) {
			this._element.find("input[name='name']").val(subscriber_group_data.Name);
			this.display_name.val(subscriber_group_data.DisplayName);
			this.display_name.change();
			this._element.find(".updated_info").text(subscriber_group_data.UpdatedInfo);
			this._element.find(".created_info").text(subscriber_group_data.CreatedInfo);
			this._element.find("span[class='detail_id']").text(subscriber_group_data.Id);
			this._element.find('div.hide_if_not_saved').show();
			this.detail_widget.set_title(this.detail_widget.settings.title = "{{writeString=wns.subscriber_group}} "+subscriber_group_data.Name);
		});
	},

	settings: {
		detail_widget: {
			title: "{{writeString=wns.new_entry}}",
			width: 550
		}
	}
};