.ui-dialog.detail-widget-newsletter_send .ui-dialog-content {
	padding: 1em;
}

.newsletter_send {
	min-height: 200px;
	min-width: 400px;
}

textarea.custom_emails_show {
	width: 345px;
}

.email_address_info {
	display: block;
	padding-top: .5em;
	color: #777;
}