<form>
	<label for="mail_group_ids[]" class="validate-mail_group_required">{{writeString=wns.newsletter.send_to_subscriber_groups}}</label>
	<select name="mail_group_ids[]" multiple="multiple" style="height:auto;" class="ui-widget-content" data-widget-type="mail_group_input"></select><br />
	<label for="sender_email" class="validate-mail_group_required">{{writeString=wns.newsletter.sender_email}}</label>
	<select name="sender_email" style="height:auto;" class="ui-widget-content"></select><br />
</form>
