<form class="newsletter_send">
	<label for="custom_emails" class="custom_emails_show">{{writeString=wns.newsletter_mailing.custom_email_addresses}}</label>
	<textarea class="ui-widget-content custom_emails_show" name="custom_emails" cols="100" rows="2"></textarea>
	<div class="test_only_info custom_emails_show">{{writeString=wns.newsletter_mailing.sent_to_info}} <span class="email_address_info"></span></div>
</form>
