.ui-dialog.detail-widget-newsletter_detail select.ui-widget-content.mail_groups_inactive option {
	color: #999;
}

.ui-dialog.detail-widget-newsletter_detail .ui-state-active {
	background-color: #ebedef;
}

.ui-dialog.detail-widget-newsletter_detail .ui-widget-content .status_section {
	width: 20em;
}

.ui-dialog.detail-widget-newsletter_detail .ui-dialog-content.ui-accordion .ui-accordion-content.accordion_content {
	padding: 0;
}

.ui-dialog.detail-widget-newsletter_detail iframe.cke_wysiwyg_frame {
	padding: 0 0.5em;
}

.ui-dialog.detail-widget-newsletter_detail .ui-list {
	border-bottom: 1px solid #999;
}

fieldset.option_groups {
	margin-top: 1em;
	background-color: #f9f9f9;
	margin-bottom: 1em;
}

fieldset.option_groups table td {
	border-bottom: 1px solid #FFF;
}

fieldset .mailing_list {
	border-collapse:collapse;
}

fieldset .mailing_list tr.ui-list-row:nth-child(odd) {
	background-color:	 #fff;
}

fieldset .mailing_list td {
	vertical-align: top;
	padding: 4px 0px 3px 0px;
	border-bottom:	1px solid #d1d1d1;
}

.mailing_list td div {
	padding: 1px 0;
	border-top: 1px solid #e1e1e1;
}

.mailing_list td div:first-child {
	border-top: 0;
}
