.ui-dialog.detail-widget-newsletter_detail .ui-dialog-content {
	padding: 0;
}

.ui-dialog.detail-widget-newsletter_detail select.ui-widget-content.mail_groups_inactive option {
	color: #999;
}

.ui-dialog.detail-widget-newsletter_detail .ui-state-active {
	background-color: #ebedef;
}

.ui-dialog.detail-widget-newsletter_detail div.ui-progressbar {
	display:inline-block;
	margin-top: 4px;
	margin-left: 10px;
	width: 350px;
	height: 20px;
	border: none;
	background: #f2f2f2;
}

.ui-dialog.detail-widget-newsletter_detail .ui-widget-content .status_section {
	width: 20em;
}

button.newsletter_send_test_button,
button.newsletter_send_button {
	color: #FFF;
}

fieldset.option_groups {
	margin-top: 1em;
}

fieldset.option_groups table td {
	border-bottom: 1px solid #FFF;
}