.ui-dialog.detail-widget-newsletter_detail .ui-dialog-content {
	padding: 0;
}

.ui-dialog.detail-widget-newsletter_detail select.ui-widget-content.mail_groups_inactive option {
	color: #999;
}

.ui-dialog.detail-widget-newsletter_detail .ui-state-active {
	background-color: #ebedef;
}

.ui-dialog.detail-widget-newsletter_detail .ui-dialog-content .ui-state-active, .ui-widget-content .ui-state-active,
.ui-dialog.detail-widget-newsletter_detail .ui-dialog-content.ui-widget-content .ui-state-default  {
	background:url("") repeat scroll 0 0 #ebedef;
	border: 0;
}

.ui-dialog.detail-widget-newsletter_detail h3 {
	border-bottom: #C1C2C4 1px solid;
}

.ui-dialog.detail-widget-newsletter_detail div.ui-progressbar {
	display:inline-block;
	margin-top: 4px;
	margin-left: 10px;
	width: 350px;
	height: 20px;
	border: none;
	background: #f2f2f2;
}