Widget.types.newsletter_detail = {
	prepare: function() {
		this.mailing_list_changed_handler = this.fill_data.bind(this);
		Widget.handle('rapila-mailing_list_changed', this.mailing_list_changed_handler);
	},
	
	initialize: function() {
		this.init_content();
		var _this = this;
		
		Widget.callStatic('detail', 'create_for_instance', this);
		this.newsletter_mailing_prototype = Widget.parseHTML("{{includeTemplate=newsletter_mailing}}");
		this._element.find('.hide_if_not_saved').hide();
			// is_approved change handler
		this.is_approved = this._element.find("input[name='is_approved']");
		this.is_approved.change(function() {
			_this.save(true);
			_this.newsletter_send_button.button(jQuery(this).prop('checked') ? 'enable' : 'disable');
		});

		// Template select and allow template reload
		this.allow_load_template = true; 
		var template_select = _this._element.find("select[name='template_name']").change(function() {
			if(this.allow_load_template) {
				_this.update_newsletter_body(template_select.val());
			}
		});
		if(!this.allow_load_template) {
			template_select.after(jQuery('<span>', {className: 'ui-icon ui-icon-refresh', css: {cursor: 'pointer'}, click: function() {
				Widget.confirm('{{writeString=wns.newsletter.template-force-refresh.title}}', '{{writeString=wns.newsletter.template-force-refresh.message}}', function(answer) {
					if(answer) {
						_this.update_newsletter_body(template_select.val());
					}
				});
			}}));
		}
		// Template options
		var option = jQuery('<option/>');
		jQuery.each(_this.getMatchingCustomTemplates(), function(i, template) {
			option.clone().text(template).attr('value', template).appendTo(template_select);
		});
		jQuery('<option/>').text("{{writeString=wns.newsletter.choose_template}}").val('').prependTo(template_select);
		template_select.find("option:first-child").attr('selected', true);
		
		this.handle('opening-initial', function() {
			_this.init_textareas();
		});
		this.handle('opened', function() {
			_this._element.find('div.accordion').accordion({heightStyle: 'content'});
		});
		this.handle('saving', function(event, data) {
			var text = this.get_newsletter_text();
			if(text.data('widget')) {
				data.newsletter_body = text.data('widget').get_data();
			}
			this.detail_widget.clear_validation();
		}.bind(this));
	},
	
	init_content: function() {
		this._element = Widget.parseHTML("{{includeTemplate=edit}}");
		this._element.find("select[name='language_id']").prepareWidget(function(widget) {
			widget.settings.international_option = false;
		}, jQuery.noop);
		this.newsletter_send_button = this._element.find('.newsletter_send_button').button().click(this.send_newsletter.bind(this, 'send'));

		this._element.find('.newsletter_send_test_button').button().click(this.send_newsletter.bind(this, 'test'));
	},
	
	send_info_text: function(is_hot) {
		var send_info_text = this._element.find('span.status_send_info');
		if(is_hot) {
			send_info_text.text("{{writeString=wns.newsletter.send_hot_info}}");
		} else {
			send_info_text.text("{{writeString=wns.newsletter.send_test_info}}");
		}
	},
	
	fill_data: function() {
		var _this = this;
		this.loadNewsletterData(function(newsletter_data) {
			if(!newsletter_data) {
				return;
			}
			this.allow_load_template = !newsletter_data.IsApproved;
			this.current_detail_id = newsletter_data.Id;
			this._element.find("input[name='subject']").val(newsletter_data.Subject);
			this._element.find("select[name='language_id']").val(newsletter_data.LanguageId || '');
			this._element.find("select[name='template_name']").val(newsletter_data.TemplateName || '');
			this._element.find(".updated_info").text(newsletter_data.UpdatedInfo);
			this._element.find(".created_info").text(newsletter_data.CreatedInfo);
			this._element.find("span[class='detail_id']").text(newsletter_data.Id);
			this.is_approved.prop('checked', newsletter_data.IsApproved);
			this.send_info_text(newsletter_data.IsApproved);
			_this.newsletter_send_button.button(newsletter_data.IsApproved ? 'enable' : 'disable');

			// newsletter mailings
			var mailing_list = this._element.find(".mailing_list").empty();
			var has_mailings = false;
			jQuery.each(newsletter_data.newsletter_mailings, function(i, params) {
				var newsletter_mailing = _this.newsletter_mailing_prototype.clone();
				newsletter_mailing.find('.mail_group_info').text(params.MailGroupType+' : '+params.MailGroupName);
				var user_initials = newsletter_mailing.find('.user_initials');
				jQuery.each(params.UserInitials, function(i, val) {
					user_initials.append(jQuery('<div/>').text(val));
				});
				var date_sent = newsletter_mailing.find('.date_sent');
				jQuery.each(params.DateSent, function(i, val) {
					date_sent.append(jQuery('<div/>').text(val));
				});
				var recipient_count = newsletter_mailing.find('.recipient_count');
				jQuery.each(params.RecipientCount, function(i, val) {
					var value = val ? val : " ";
					recipient_count.append(jQuery('<div/>').text(value));
				});
				mailing_list.append(newsletter_mailing);	
				has_mailings = true;	
			});
		
			if(!has_mailings) {
				var no_entry_row = jQuery('<tr/>').html(jQuery("<td/>").attr("colspan", 4).text("{{writeString=newsletter_mailing.no_entries}}"));
				mailing_list.append(no_entry_row);
			}
		
			this.send_info_text(newsletter_data.IsApproved);
			this.update_newsletter_body();
			this.detail_widget.set_title(this.detail_widget.settings.title = "{{writeString=wns.newsletter}} "+newsletter_data.Subject);
			this._element.find('.hide_if_not_saved').show();
		});
	},
	
	send_newsletter: function(action) {
		var newsletter_id = this.current_detail_id;
		Widget.create('newsletter_send', function(send_widget) {
			send_widget.setNewsletterId(newsletter_id);
			if(action === 'send') {
				send_widget.show_send_dialog();
			} else {
				send_widget.show_test_dialog();
			}
		});
	},
	
	init_textareas: function() {
		var newsletter_text = this.get_newsletter_text();
		if(!newsletter_text.attr('data-widget-type')) {
			newsletter_text.attr('data-widget-type', 'rich_text').attr('data-widget-session', this.settings.rich_text_session).prepareWidget(function(widget) {
				widget.settings.height = 400;
			}, jQuery.noop, this.settings.rich_text_config);
		}
	},
	
	update_newsletter_body: function(newsletter_template) {
		var _this = this;
		var newsletter_body = this.getNewsletterBody(newsletter_template);
		var newsletter_text = this.get_newsletter_text();
		newsletter_text.ensureWidget(function(widget) {
			widget.set_data(newsletter_body);
			_this.newsletterContentCss(newsletter_template, function(css) {
				widget.set_inline_css(css);
			});
		});
	},
	
	get_newsletter_text: function() {
		return this._element.find('div.newsletter_body');
	},
	
	save: function(should_remain_open) {
		if(should_remain_open) {
			this.settings.remains_open = true;
		}
		this.detail_widget.settings.save_callback();
		if(should_remain_open) {
			this.settings.remains_open = false;
		}
	},
	
	settings: {
		detail_widget: {
			title: "{{writeString=wns.new_entry}}",
			width: 760
		},
		select: 'name'
	}

};
