<label for="display_mode">{{writeString=wns.newsletter.display_options}}</label>
<select name="display_mode" class="ui-widget-content"></select>
<label for="subscriber_group_id" class="subscriber_group_elements ui">{{writeString=wns.newsletter.subscriber_groups}}</label>
<select name="subscriber_group_id" class="subscriber_group_elements ui-widget-content"></select>
