<form>
	<label for="mail_group_ids" class="validate-mail_group_required">{{writeString=wns.subscriber_import.subscriber_groups}}</label>
	<select name="mail_group_ids" data-widget-type="mail_group_input" multiple="multiple"></select><br />
	<label for="import_emails" class="custom_emails_show">{{writeString=wns.subscriber_import.custom_email_addresses}}</label>
	<textarea class="ui-widget-content autowidth custom_emails_show" name="import_emails" cols="100" rows="8"></textarea>
	<div class="import_message"></div>
	<br /><button class="do_import">{{writeString=wns.subscriber_import.do_import}}</button><br />
</form>
