Widget.types.subscriber_import = {
	
	prepare: function() {
		var _this = this;
		this._element.append(jQuery.parseHTML('{{includeTemplate=import}}'));
		this.import_emails = this._element.find('textarea[name=import_emails]');
		this.import_message = this._element.find('div.import_message');
		var do_import = this._element.find('button.do_import').button();
		
		this.mail_groups = this._element.find("select[name='mail_group_ids']");
		this.mail_groups.prepareWidget(function(mail_group_input) {
			mail_group_input.settings.include_external_mail_groups = false;
		}, jQuery.noop);

		do_import.click(function() {
			_this.import_message.empty();
			_this.add_subscribers();
			return false;
		});
	},

	add_subscribers: function(emails, markup) {
		var _this = this;
		this.addSubscibers(this.import_emails.val(), this.mail_groups.val(), function(result) {
			_this.import_message.html("Importiert: "+result[1]+" von "+result[0]+". Fehlerhafte E-Mail-Adressen: "+result[2]);
		});
	},

	valid_emails_in_field: function(field) {
		var valid_emails = [];
		jQuery.each(field.val().split(/[\s\n,]+/), function(i, email) {
			if(jQuery.validateEmail(email)) {
				valid_emails.push(email);
			}
		});
		if(valid_emails.length === 0) {
			valid_emails.push(this.settings.default_email);
		}
		return valid_emails;
	},
	
	settings: {}
};