Widget.types.subscriber_group_input = {
	prepare: function() {
		this.reload();
		Widget.handle('rapila-subscriber_groups_changed', this.reload.bind(this));
	},
	
	reload: function() {
		var current = this._element.val();
		this._element.empty();
		var subscriber_groups = this.getSubscriberGroups();
		this._element.populate(subscriber_groups);
		if(current) {
			this._element.val(current);
		}
	}, 
	
	val: function(value) {
		if(value) {
			this._element.val(value);
			return;
		}
		return this._element.val();
	}
};