jQuery(document).ready(function() {
	// init main content
	AdminInterface.content.find('table.subscriber_group_list').prepareWidget(function(subscriber_group_list) {
		// init infobar
		AdminInterface.info_bar.prepareWidget(function(info_bar) {
			info_bar.add_search_input("{{writeString=wns.search.enter_search}}", function(search) {
				if(subscriber_group_list.setSearch(search)) {
					subscriber_group_list.reload();
				}
			});
			// add row_count_info
			info_bar.add_row_count_info_for_list(subscriber_group_list);
		});
	});
});