Widget.types.mail_group_input = {
	prepare: function() {
		var option = jQuery('<option/>');
		var mail_groups = this.getMailGroups();
		if(mail_groups.length == 0) {
			// this._element.append(jQuery('<div/>').text("text"));
			// this._element.hide()
			// console.log();
			// return;
		}
		jQuery.each(mail_groups, function(group_id, group_name) {
			option.clone().text(group_name).attr('value', group_id).appendTo(this._element);
		}.bind(this));
	}
};