Widget.types.mail_group_input = {
	prepare: function() {
		this.reload();
		Widget.handle('newsletter-mail_groups_changed', this.reload.bind(this));
	},
	
	reload: function() {
		var _this = this;
		var current = this.val();
		this._element.empty();
		var option = jQuery('<option/>');
		var mail_groups = this.getMailGroups(this.settings.include_temporary_mail_groups);
		jQuery.each(mail_groups, function(group_id, group_name) {
			option.clone().text(group_name).attr('value', group_id).appendTo(this._element);
		}.bind(this));
		if(current) {
			this.val(current);
		}
	},
	
	val: function(value) {
		if(value) {
			this._element.val(value);
			return;
		}
		return this._element.val();
	},
	
	settings: {
		include_temporary_mail_groups: true
	}
};