<form>
	<div class="status_section">
		<label for="subscriber_group_ids">{{writeString=wns.subscribers.subscriber_group_memberships}}</label>
		<select name="subscriber_group_ids" class="ui-widget-content" data-widget-type="subscriber_group_input" multiple="multiple"></select><br />
		<div class="hide_if_not_saved">
			<label>{{writeString=wns.created_info}}:</label><span class="created_info status"></span><br />
			<label>{{writeString=wns.updated.info}}:</label><span class="updated_info status"></span>
			<label>ID:</label><span class="detail_id">{{id}}</span>
		</div>
	</div>
	<label for="name" class="validate-name_required">{{writeString=wns.name}}</label>
	<input type="text" name="name" class="ui-widget-content" /><br />
	<label for="email" class="validate-valid_email validate-duplicate_email">{{writeString=wns.email}}</label>
	<input type="text" name="email" class="ui-widget-content" /><br />
	<label for="preferred_language_id">{{writeString=wns.preferred_language_id}}</label>
	<select name="preferred_language_id" class="ui-widget-content input_short" data-widget-type="language_input"></select><br />
</form>