<div class="newsletter_list_item"><span>{{writeDate=%e. %B %Y;timestamp=\{\{date\}\};position=last}}</span>
	<a href="{{newsletter_link}}"{{class_active}} title="{{writeString=wns.newsletter.view_link_title}}">{{subject}}</a>
</div>