<div class="newsletter_list_item"><span>{{writeDate=e. %B %Y;timestamp=\{\{date\}\};position=last}}</span>
	<h2>{{subject}} <a href="{{newsletter_link}}" target="_blank" title="{{writeString=wns.newsletter.view_link_title}}">{{writeString=wns.newsletter.view_link_text}}</a></h2>
</div>