<p>Newsletter können in jedem zugesandten Newsletter abbestellt werden.</p> 
<p class="note"><span>Datenschutz-Hinweis</span>Abonnenten-Daten werden in keiner Weise weiterverwendet. <br />Daten von Abonnenten, die keinen Newsletter mehr abonniert haben, werden automatisch entfernt.</p>