<h3>{{writeString=wns.newsletter.unsubscribe_opt_out.title}}</h3>
<fieldset>
  <form action="{{writeLink=to_self;ignore_request=true;position=last}}" method="post">
		{{subscriber_group_checkbox}}
    <label>&nbsp;</label><button type="submit" class="subscribe" id="send" title="" name="newsletter_unsubscribe" value="1">{{writeString=wns.newsletter.unsubscribe_confirm}}</button>
  </form>
</fieldset>
